@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --colorLight: #ffffff;
  --colorDark: #2f3645;
  --colorDarkTransparent1: #2f3645b3;
  --colorDarkTransparent2: #767a81de;
}

* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*----- Nav -----*/

nav {
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 25px;
  display: flex;
  z-index: 4;
  transition: background-color 0.7s;
}

nav.changeNav {
  background: #ffffff;
}

.change-nav {
  background-color: transparent; /*var(--colorLight)*/
}

.changeNav .nav-menu .nav-item .nav-link {
  text-shadow: 1px 1px #ffffff, 2px 3px #808080;
  color: var(--colorDark);
}

.logo {
  margin-left: 20px;
}

.logo-svg {
  fill: #ffffff;
  height: auto;
  width: 40px;
}

.nav-menu {
  justify-content: flex-end;
  width: 100%;
  display: flex;
}

.nav-item {
  margin-left: 20px;
  list-style-type: none;
}

.nav-link {
  font-size: 1.5em;
  font-weight: 500;
  color: #ffffff;
  text-shadow: 1px 1px #808080, 2px 3px #000000;
  text-decoration: none;
}

/* :hover */

/*----- Index -----*/

.header-main {
  background: url(/assets/img/fondo.jpg) 50% 0 fixed;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  display: flex;
}

#header-h {
  background-image: url(/assets/img/historia-programacion.jpg);
  height: 70vh;
  position: relative;
}

#header-j {
  background-image: url(/assets/img/img2.jpg);
  height: 70vh;
  position: relative;
}

.header-title {
  text-align: center;
}

.background {
  background: rgba(47, 54, 69, 0.7);
  align-items: center;
  justify-content: center;
  width: 100%;
  display: flex;
  height: 100%;
}

h1 {
  color: #ffffff;
  font-size: calc(48px + 18px);
  font-weight: 400;
  text-shadow: 2px 2px #808080, 6px 6px #000000;
}

main {
  padding: 100px 20px;
}

h2 {
  color: var(--colorDark);
  font-weight: 500;
  text-align: center;
  text-shadow: 1px 1px #ffffff, 2px 2px #808080;
  font-size: calc(32px + 18px);
}

.content-wrapper {
  justify-content: space-evenly;
  display: flex;
  margin: 100px 0px;
  width: 100%;
  gap: 20px;
}

.content-card {
  background-color: var(--colorLight);
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  display: flex;
  width: 450px;
  height: 500px;
  gap: 40px;
}

.card-img {
  width: 100%;
  margin: 0;
}

.card-descrip {
  color: #181d31;
  text-align: center;
  width: 90%;
  height: 30px;
}

.card-btn {
  background-color: var(--colorDark);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  width: 80%;
}

/*----- History -----*/

.history-section {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
  display: flex;
}

.history-card {
  align-items: center;
  justify-content: space-around;
  display: flex;
  padding: 80px 50px;
  gap: 20px;
}

.history-card > img {
  width: 50%;
}

.text-section-card {
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  display: flex;
  gap: 40px;
  width: 80%;
}

.history-text {
  color: var(--colorDark);
}

.dark {
  color: #181d31;
  text-shadow: 2px 2px #808080, 3px 3px #ffffff;
}

.container-video {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  padding: 100px 0px;
  gap: 80px;
}

.container {
  background-color: var(--colorDark);
  padding: 5px;
  width: 70%;
}

.bar {
  background-color: var(--colorDark);
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 20px 5px;
  display: flex;
}

.buttonBox {
  display: flex;
  gap: 20px;
}

#play,
#pause {
  width: 80px;
}

.buttonV {
  box-shadow: 2px 2px #808080;
  background-color: var(--colorLight);
  color: var(--colorDark);
  text-decoration: none;
  padding: 10px 15px;
  font-weight: 300;
  border: 1px solid var(--colorDark);
}

#displayTime {
  color: #ffffff;
  font-family: sans-serif;
  padding-right: 10px;
}

/*----- Game -----*/

.puzzle-title {
  padding: 80px 10px;
}

.box-game {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.boxs {
  flex-direction: row;
  display: flex;
}

.box {
  background-color: #808080;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 275px;
  height: 400px;
  display: flex;
  border: 2px solid #000000;
}

#box-img {
  flex-direction: row;
  margin: 40px;
  display: flex;
  gap: 10px;
}

#imgOne,
#imgTwo,
#imgThree {
  width: 275px;
  height: 400px;
}

.reboot {
  background-color: var(--colorDark);
  color: var(--colorLight);
  margin: auto;
  padding: 10px 100px;
  display: flex;
  border: none;
  border-radius: 0px;
  text-transform: uppercase;
  font-weight: 300;
}

/*----- Footer -----*/

footer {
  background: var(--colorDark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 90px;
  color: #ffffff;
}

.footer-left {
  justify-content: space-between;
  display: flex;
  width: 300px;
  height: 60px;
}

.footer-logo {
  height: 80px;
}

.sub-title {
  text-align: center;
}

.footer-title {
  font-size: 14px;
}
